@font-face {
  font-family: "BisonX";
  src: url("./fonts/Bison-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  margin-top: 8%;
  /* background-color: #111; */
}

h1 {
  font-family: BisonX;
  /* color: gainsboro; */
}

p {
  /* color: gainsboro; */
  font: 400 11px system-ui;
  text-transform: uppercase;
}

#guess-btn {
  cursor: pointer;
  /* background-color: #111; */
  /* border-color: whitesmoke; */
  /* color: gainsboro; */
}
